<% likes_table = DB.from(:likes) %>
<% users_table = DB.from(:users) %>
<% following_table = DB.from(:following) %>

<% if @userid == @current_user[:id] %>
    <h1 class="text-center">My Trips</h1>
    <p class="text-center"><a href="/addtrip" class="btn btn-primary">Add Trip</a></p>
<% else %>
    <h1 class="text-center"><%= @username %>'s Trips</h1>
    <% if following_table.where(user_id: @current_user[:id], target_user: @userid).to_a[0] %>
        <p class="text-center"><a href="/unfollow/user/<%= @userid %>" class="btn btn-primary">Unfollow User</a></p>
    <% else %>
        <p class="text-center"><a href="/follow/user/<%= @userid %>" class="btn btn-primary">Follow User</a></p>
    <% end %>
<% end %>

<div class="container my-3">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">

        <% for trip in @usertrips %>

            <div class="container border bg-light my-3">
                <div class="row mt-3">
                    <div class="col">
                        <h3><%= trip[:location] %>
                        <% if @current_user && @current_user[:id] == trip[:user_id] %>
                            (<a href="/trip/<%= trip[:id] %>/edit">edit</a> | <a href="/trip/<%= trip[:id] %>/destroy">delete</a>)
                        <% end %></h3>
                        <h5><%= trip[:lengthnum] %> <%= trip[:lengthunit] %></h5>
                    </div>
                </div>
                <div class="row m-1">
                    <iframe
                        width=100%
                        height=100%
                        frameborder="0" style="border:0"
                        align="right"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
                        &q=<%= trip[:location] %>&zoom=5" allowfullscreen>
                    </iframe>
                </div>  
                <div class="row mt-2">
                    <div class="col-12">    
                        <p><%= trip[:description] %></p> 
                    </div>  
                </div> 
                <div class="row mb-2">
                    <div class="col">    

                        <!-- if not signed in, point to sign-in -->
                        <% if not @current_user %>
                            <a href="/logins/new"><button type="button" class="btn btn-primary">Sign In to Like</button></a>   

                        <!-- if they are signed in, see if they already like it -->
                        <% elsif likes_table.where(user_id: @current_user[:id], trip_id: trip[:id]).to_a[0] %>
                            <a href="/unlike/success/<%= trip[:id] %>/profile"><button type="button" class="btn btn-primary">Unlike</button></a>
                        <!-- otherwise, give them the option to like it -->
                        <% else %>
                            <a href="/like/success/<%= trip[:id] %>/profile"><button type="button" class="btn btn-primary">Like</button></a>
                        <% end %>

                    </div>
                    <div class="col text-right">
                        Total Likes: <%=  likes_table.where(trip_id: trip[:id]).count %>
                    </div>   
                </div>   
            </div>
        <% end %>

        </div>

        <div class="col-sm-3">
            <h2 class="text-center">Following</h2>
            <% if @following_list %>
                <% for user in @following_list %>
                    <a href="/user/<%= users_table.where(id: user[:target_user]).to_a[0][:id] %>"><h5 class="text-left"><%= users_table.where(id: user[:target_user]).to_a[0][:name] %></h5></a>
                <% end %>
            <% end %>
            <h2 class="text-center">Followers</h2>
            <% if @follower_list %>
                <% for user in @follower_list %>
                    <a href="/user/<%= users_table.where(id: user[:user_id]).to_a[0][:id] %>"><h5 class="text-left"><%= users_table.where(id: user[:user_id]).to_a[0][:name] %></h5></a>
                <% end %>
            <% end %>
        </div>
    </div>
</div>